.mt-zero {
  margin-top: 0px;
}
.mt-xs {
  margin-top: 5px;
}
.mt-sm {
  margin-top: 12px;
}
.mt-md {
  margin-top: 20px;
}
.mt-lg {
  margin-top: 30px;
}
.mb-zero {
  margin-bottom: 0px;
}
.mb-xs {
  margin-bottom: 5px;
}
.mb-sm {
  margin-bottom: 12px;
}
.mb-md {
  margin-bottom: 20px;
}
.mb-lg {
  margin-bottom: 30px;
}
.ml-zero {
  margin-left: 0px;
}
.ml-xs {
  margin-left: 5px;
}
.ml-sm {
  margin-left: 12px;
}
.ml-md {
  margin-left: 20px;
}
.ml-lg {
  margin-left: 30px;
}
.mr-zero {
  margin-right: 0px;
}
.mr-xs {
  margin-right: 5px;
}
.mr-sm {
  margin-right: 12px;
}
.mr-md {
  margin-right: 20px;
}
.mr-lg {
  margin-right: 30px;
}
.pt-zero {
  padding-top: 0px;
}
.pt-xs {
  padding-top: 5px;
}
.pt-sm {
  padding-top: 12px;
}
.pt-md {
  padding-top: 20px;
}
.pt-lg {
  padding-top: 30px;
}
.pb-zero {
  padding-bottom: 0px;
}
.pb-xs {
  padding-bottom: 5px;
}
.pb-sm {
  padding-bottom: 12px;
}
.pb-md {
  padding-bottom: 20px;
}
.pb-lg {
  padding-bottom: 30px;
}
.pl-zero {
  padding-left: 0px;
}
.pl-xs {
  padding-left: 5px;
}
.pl-sm {
  padding-left: 12px;
}
.pl-md {
  padding-left: 20px;
}
.pl-lg {
  padding-left: 30px;
}
.pr-zero {
  padding-right: 0px;
}
.pr-xs {
  padding-right: 5px;
}
.pr-sm {
  padding-right: 12px;
}
.pr-md {
  padding-right: 20px;
}
.pr-lg {
  padding-right: 30px;
}
.transition-eio {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-menu-top {
  background: transparent;
  color: #fff;
  padding-top: 25px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-menu-top .navbar-brand {
  font-size: 1.6em;
  color: #f1f1f1;
  padding: 10px 15px;
}
.navbar-menu-top .navbar-brand:visited,
.navbar-menu-top .navbar-brand:hover {
  color: #f1f1f1;
}
.navbar-menu-top .navbar-nav > li > a {
  font-size: 1.1em;
  font-weight: 500;
}
.navbar-menu-top .navbar-nav > li > a:link,
.navbar-menu-top .navbar-nav > li > a:visited {
  color: #f1f1f1;
}
.navbar-menu-top .navbar-nav > li > a:hover,
.navbar-menu-top .navbar-nav > li > a:active {
  color: #ed745e;
}
.navbar-menu-top .navbar-nav > li.active > a {
  color: #ed745e;
}
.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default-outline {
  color: #555;
  background-color: transparent;
  border-color: #555;
  border-width: 2px;
  font-weight: 500;
}
.btn-default-outline:focus,
.btn-default-outline.focus {
  color: #555;
}
.btn-default-outline:hover {
  color: #fff;
  background-color: #555;
}
.btn-default-outline:active,
.btn-default-outline.active,
.open > .dropdown-toggle.btn-default-outline {
  color: #555;
}
.btn-default-outline:active:hover,
.btn-default-outline.active:hover,
.open > .dropdown-toggle.btn-default-outline:hover,
.btn-default-outline:active:focus,
.btn-default-outline.active:focus,
.open > .dropdown-toggle.btn-default-outline:focus,
.btn-default-outline:active.focus,
.btn-default-outline.active.focus,
.open > .dropdown-toggle.btn-default-outline.focus {
  color: #555;
}
.btn-default-outline:active,
.btn-default-outline.active,
.open > .dropdown-toggle.btn-default-outline {
  background-image: none;
}
.btn-default-outline.disabled:hover,
.btn-default-outline[disabled]:hover,
fieldset[disabled] .btn-default-outline:hover,
.btn-default-outline.disabled:focus,
.btn-default-outline[disabled]:focus,
fieldset[disabled] .btn-default-outline:focus,
.btn-default-outline.disabled.focus,
.btn-default-outline[disabled].focus,
fieldset[disabled] .btn-default-outline.focus {
  border-color: #555;
}
.btn-default-outline .badge {
  color: #fff;
  background-color: #555;
}
.btn-primary-outline {
  color: #ed745e;
  background-color: transparent;
  border-color: #ed745e;
  border-width: 2px;
  font-weight: 500;
}
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ed745e;
}
.btn-primary-outline:hover {
  color: #fff;
  background-color: #ed745e;
}
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .dropdown-toggle.btn-primary-outline {
  color: #ed745e;
}
.btn-primary-outline:active:hover,
.btn-primary-outline.active:hover,
.open > .dropdown-toggle.btn-primary-outline:hover,
.btn-primary-outline:active:focus,
.btn-primary-outline.active:focus,
.open > .dropdown-toggle.btn-primary-outline:focus,
.btn-primary-outline:active.focus,
.btn-primary-outline.active.focus,
.open > .dropdown-toggle.btn-primary-outline.focus {
  color: #ed745e;
}
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .dropdown-toggle.btn-primary-outline {
  background-image: none;
}
.btn-primary-outline.disabled:hover,
.btn-primary-outline[disabled]:hover,
fieldset[disabled] .btn-primary-outline:hover,
.btn-primary-outline.disabled:focus,
.btn-primary-outline[disabled]:focus,
fieldset[disabled] .btn-primary-outline:focus,
.btn-primary-outline.disabled.focus,
.btn-primary-outline[disabled].focus,
fieldset[disabled] .btn-primary-outline.focus {
  border-color: #ed745e;
}
.btn-primary-outline .badge {
  color: #fff;
  background-color: #ed745e;
}
.btn-success-outline {
  color: #2EB872;
  background-color: transparent;
  border-color: #2EB872;
  border-width: 2px;
  font-weight: 500;
}
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #2EB872;
}
.btn-success-outline:hover {
  color: #fff;
  background-color: #2EB872;
}
.btn-success-outline:active,
.btn-success-outline.active,
.open > .dropdown-toggle.btn-success-outline {
  color: #2EB872;
}
.btn-success-outline:active:hover,
.btn-success-outline.active:hover,
.open > .dropdown-toggle.btn-success-outline:hover,
.btn-success-outline:active:focus,
.btn-success-outline.active:focus,
.open > .dropdown-toggle.btn-success-outline:focus,
.btn-success-outline:active.focus,
.btn-success-outline.active.focus,
.open > .dropdown-toggle.btn-success-outline.focus {
  color: #2EB872;
}
.btn-success-outline:active,
.btn-success-outline.active,
.open > .dropdown-toggle.btn-success-outline {
  background-image: none;
}
.btn-success-outline.disabled:hover,
.btn-success-outline[disabled]:hover,
fieldset[disabled] .btn-success-outline:hover,
.btn-success-outline.disabled:focus,
.btn-success-outline[disabled]:focus,
fieldset[disabled] .btn-success-outline:focus,
.btn-success-outline.disabled.focus,
.btn-success-outline[disabled].focus,
fieldset[disabled] .btn-success-outline.focus {
  border-color: #2EB872;
}
.btn-success-outline .badge {
  color: #fff;
  background-color: #2EB872;
}
.btn-info-outline {
  color: #497cb1;
  background-color: transparent;
  border-color: #497cb1;
  border-width: 2px;
  font-weight: 500;
}
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #497cb1;
}
.btn-info-outline:hover {
  color: #fff;
  background-color: #497cb1;
}
.btn-info-outline:active,
.btn-info-outline.active,
.open > .dropdown-toggle.btn-info-outline {
  color: #497cb1;
}
.btn-info-outline:active:hover,
.btn-info-outline.active:hover,
.open > .dropdown-toggle.btn-info-outline:hover,
.btn-info-outline:active:focus,
.btn-info-outline.active:focus,
.open > .dropdown-toggle.btn-info-outline:focus,
.btn-info-outline:active.focus,
.btn-info-outline.active.focus,
.open > .dropdown-toggle.btn-info-outline.focus {
  color: #497cb1;
}
.btn-info-outline:active,
.btn-info-outline.active,
.open > .dropdown-toggle.btn-info-outline {
  background-image: none;
}
.btn-info-outline.disabled:hover,
.btn-info-outline[disabled]:hover,
fieldset[disabled] .btn-info-outline:hover,
.btn-info-outline.disabled:focus,
.btn-info-outline[disabled]:focus,
fieldset[disabled] .btn-info-outline:focus,
.btn-info-outline.disabled.focus,
.btn-info-outline[disabled].focus,
fieldset[disabled] .btn-info-outline.focus {
  border-color: #497cb1;
}
.btn-info-outline .badge {
  color: #fff;
  background-color: #497cb1;
}
.btn-warning-outline {
  color: #f89b20;
  background-color: transparent;
  border-color: #f89b20;
  border-width: 2px;
  font-weight: 500;
}
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #f89b20;
}
.btn-warning-outline:hover {
  color: #fff;
  background-color: #f89b20;
}
.btn-warning-outline:active,
.btn-warning-outline.active,
.open > .dropdown-toggle.btn-warning-outline {
  color: #f89b20;
}
.btn-warning-outline:active:hover,
.btn-warning-outline.active:hover,
.open > .dropdown-toggle.btn-warning-outline:hover,
.btn-warning-outline:active:focus,
.btn-warning-outline.active:focus,
.open > .dropdown-toggle.btn-warning-outline:focus,
.btn-warning-outline:active.focus,
.btn-warning-outline.active.focus,
.open > .dropdown-toggle.btn-warning-outline.focus {
  color: #f89b20;
}
.btn-warning-outline:active,
.btn-warning-outline.active,
.open > .dropdown-toggle.btn-warning-outline {
  background-image: none;
}
.btn-warning-outline.disabled:hover,
.btn-warning-outline[disabled]:hover,
fieldset[disabled] .btn-warning-outline:hover,
.btn-warning-outline.disabled:focus,
.btn-warning-outline[disabled]:focus,
fieldset[disabled] .btn-warning-outline:focus,
.btn-warning-outline.disabled.focus,
.btn-warning-outline[disabled].focus,
fieldset[disabled] .btn-warning-outline.focus {
  border-color: #f89b20;
}
.btn-warning-outline .badge {
  color: #fff;
  background-color: #f89b20;
}
.btn-danger-outline {
  color: #E03E36;
  background-color: transparent;
  border-color: #E03E36;
  border-width: 2px;
  font-weight: 500;
}
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #E03E36;
}
.btn-danger-outline:hover {
  color: #fff;
  background-color: #E03E36;
}
.btn-danger-outline:active,
.btn-danger-outline.active,
.open > .dropdown-toggle.btn-danger-outline {
  color: #E03E36;
}
.btn-danger-outline:active:hover,
.btn-danger-outline.active:hover,
.open > .dropdown-toggle.btn-danger-outline:hover,
.btn-danger-outline:active:focus,
.btn-danger-outline.active:focus,
.open > .dropdown-toggle.btn-danger-outline:focus,
.btn-danger-outline:active.focus,
.btn-danger-outline.active.focus,
.open > .dropdown-toggle.btn-danger-outline.focus {
  color: #E03E36;
}
.btn-danger-outline:active,
.btn-danger-outline.active,
.open > .dropdown-toggle.btn-danger-outline {
  background-image: none;
}
.btn-danger-outline.disabled:hover,
.btn-danger-outline[disabled]:hover,
fieldset[disabled] .btn-danger-outline:hover,
.btn-danger-outline.disabled:focus,
.btn-danger-outline[disabled]:focus,
fieldset[disabled] .btn-danger-outline:focus,
.btn-danger-outline.disabled.focus,
.btn-danger-outline[disabled].focus,
fieldset[disabled] .btn-danger-outline.focus {
  border-color: #E03E36;
}
.btn-danger-outline .badge {
  color: #fff;
  background-color: #E03E36;
}
.breadcrumb-primary {
  background-color: #ed745e;
}
.breadcrumb-primary a {
  color: #fff;
}
.breadcrumb-primary > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-primary > li + li:before {
  color: #fff;
}
.breadcrumb-success {
  background-color: #2EB872;
}
.breadcrumb-success a {
  color: #fff;
}
.breadcrumb-success > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-success > li + li:before {
  color: #fff;
}
.breadcrumb-info {
  background-color: #497cb1;
}
.breadcrumb-info a {
  color: #fff;
}
.breadcrumb-info > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-info > li + li:before {
  color: #fff;
}
.breadcrumb-warning {
  background-color: #f89b20;
}
.breadcrumb-warning a {
  color: #fff;
}
.breadcrumb-warning > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-warning > li + li:before {
  color: #fff;
}
.breadcrumb-danger {
  background-color: #E03E36;
}
.breadcrumb-danger a {
  color: #fff;
}
.breadcrumb-danger > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-danger > li + li:before {
  color: #fff;
}
