.mt-zero {
  margin-top: 0px;
}
.mt-xs {
  margin-top: 5px;
}
.mt-sm {
  margin-top: 12px;
}
.mt-md {
  margin-top: 20px;
}
.mt-lg {
  margin-top: 30px;
}
.mb-zero {
  margin-bottom: 0px;
}
.mb-xs {
  margin-bottom: 5px;
}
.mb-sm {
  margin-bottom: 12px;
}
.mb-md {
  margin-bottom: 20px;
}
.mb-lg {
  margin-bottom: 30px;
}
.ml-zero {
  margin-left: 0px;
}
.ml-xs {
  margin-left: 5px;
}
.ml-sm {
  margin-left: 12px;
}
.ml-md {
  margin-left: 20px;
}
.ml-lg {
  margin-left: 30px;
}
.mr-zero {
  margin-right: 0px;
}
.mr-xs {
  margin-right: 5px;
}
.mr-sm {
  margin-right: 12px;
}
.mr-md {
  margin-right: 20px;
}
.mr-lg {
  margin-right: 30px;
}
.pt-zero {
  padding-top: 0px;
}
.pt-xs {
  padding-top: 5px;
}
.pt-sm {
  padding-top: 12px;
}
.pt-md {
  padding-top: 20px;
}
.pt-lg {
  padding-top: 30px;
}
.pb-zero {
  padding-bottom: 0px;
}
.pb-xs {
  padding-bottom: 5px;
}
.pb-sm {
  padding-bottom: 12px;
}
.pb-md {
  padding-bottom: 20px;
}
.pb-lg {
  padding-bottom: 30px;
}
.pl-zero {
  padding-left: 0px;
}
.pl-xs {
  padding-left: 5px;
}
.pl-sm {
  padding-left: 12px;
}
.pl-md {
  padding-left: 20px;
}
.pl-lg {
  padding-left: 30px;
}
.pr-zero {
  padding-right: 0px;
}
.pr-xs {
  padding-right: 5px;
}
.pr-sm {
  padding-right: 12px;
}
.pr-md {
  padding-right: 20px;
}
.pr-lg {
  padding-right: 30px;
}
.transition-eio {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-menu-top {
  background: transparent;
  color: #fff;
  padding-top: 25px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-menu-top .navbar-brand {
  font-size: 1.6em;
  color: #f1f1f1;
  padding: 10px 15px;
}
.navbar-menu-top .navbar-brand:visited,
.navbar-menu-top .navbar-brand:hover {
  color: #f1f1f1;
}
.navbar-menu-top .navbar-nav > li > a {
  font-size: 1.1em;
  font-weight: 500;
}
.navbar-menu-top .navbar-nav > li > a:link,
.navbar-menu-top .navbar-nav > li > a:visited {
  color: #f1f1f1;
}
.navbar-menu-top .navbar-nav > li > a:hover,
.navbar-menu-top .navbar-nav > li > a:active {
  color: #ed745e;
}
.navbar-menu-top .navbar-nav > li.active > a {
  color: #ed745e;
}
.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default-outline {
  color: #555;
  background-color: transparent;
  border-color: #555;
  border-width: 2px;
  font-weight: 500;
}
.btn-default-outline:focus,
.btn-default-outline.focus {
  color: #555;
}
.btn-default-outline:hover {
  color: #fff;
  background-color: #555;
}
.btn-default-outline:active,
.btn-default-outline.active,
.open > .dropdown-toggle.btn-default-outline {
  color: #555;
}
.btn-default-outline:active:hover,
.btn-default-outline.active:hover,
.open > .dropdown-toggle.btn-default-outline:hover,
.btn-default-outline:active:focus,
.btn-default-outline.active:focus,
.open > .dropdown-toggle.btn-default-outline:focus,
.btn-default-outline:active.focus,
.btn-default-outline.active.focus,
.open > .dropdown-toggle.btn-default-outline.focus {
  color: #555;
}
.btn-default-outline:active,
.btn-default-outline.active,
.open > .dropdown-toggle.btn-default-outline {
  background-image: none;
}
.btn-default-outline.disabled:hover,
.btn-default-outline[disabled]:hover,
fieldset[disabled] .btn-default-outline:hover,
.btn-default-outline.disabled:focus,
.btn-default-outline[disabled]:focus,
fieldset[disabled] .btn-default-outline:focus,
.btn-default-outline.disabled.focus,
.btn-default-outline[disabled].focus,
fieldset[disabled] .btn-default-outline.focus {
  border-color: #555;
}
.btn-default-outline .badge {
  color: #fff;
  background-color: #555;
}
.btn-primary-outline {
  color: #ed745e;
  background-color: transparent;
  border-color: #ed745e;
  border-width: 2px;
  font-weight: 500;
}
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ed745e;
}
.btn-primary-outline:hover {
  color: #fff;
  background-color: #ed745e;
}
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .dropdown-toggle.btn-primary-outline {
  color: #ed745e;
}
.btn-primary-outline:active:hover,
.btn-primary-outline.active:hover,
.open > .dropdown-toggle.btn-primary-outline:hover,
.btn-primary-outline:active:focus,
.btn-primary-outline.active:focus,
.open > .dropdown-toggle.btn-primary-outline:focus,
.btn-primary-outline:active.focus,
.btn-primary-outline.active.focus,
.open > .dropdown-toggle.btn-primary-outline.focus {
  color: #ed745e;
}
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .dropdown-toggle.btn-primary-outline {
  background-image: none;
}
.btn-primary-outline.disabled:hover,
.btn-primary-outline[disabled]:hover,
fieldset[disabled] .btn-primary-outline:hover,
.btn-primary-outline.disabled:focus,
.btn-primary-outline[disabled]:focus,
fieldset[disabled] .btn-primary-outline:focus,
.btn-primary-outline.disabled.focus,
.btn-primary-outline[disabled].focus,
fieldset[disabled] .btn-primary-outline.focus {
  border-color: #ed745e;
}
.btn-primary-outline .badge {
  color: #fff;
  background-color: #ed745e;
}
.btn-success-outline {
  color: #2EB872;
  background-color: transparent;
  border-color: #2EB872;
  border-width: 2px;
  font-weight: 500;
}
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #2EB872;
}
.btn-success-outline:hover {
  color: #fff;
  background-color: #2EB872;
}
.btn-success-outline:active,
.btn-success-outline.active,
.open > .dropdown-toggle.btn-success-outline {
  color: #2EB872;
}
.btn-success-outline:active:hover,
.btn-success-outline.active:hover,
.open > .dropdown-toggle.btn-success-outline:hover,
.btn-success-outline:active:focus,
.btn-success-outline.active:focus,
.open > .dropdown-toggle.btn-success-outline:focus,
.btn-success-outline:active.focus,
.btn-success-outline.active.focus,
.open > .dropdown-toggle.btn-success-outline.focus {
  color: #2EB872;
}
.btn-success-outline:active,
.btn-success-outline.active,
.open > .dropdown-toggle.btn-success-outline {
  background-image: none;
}
.btn-success-outline.disabled:hover,
.btn-success-outline[disabled]:hover,
fieldset[disabled] .btn-success-outline:hover,
.btn-success-outline.disabled:focus,
.btn-success-outline[disabled]:focus,
fieldset[disabled] .btn-success-outline:focus,
.btn-success-outline.disabled.focus,
.btn-success-outline[disabled].focus,
fieldset[disabled] .btn-success-outline.focus {
  border-color: #2EB872;
}
.btn-success-outline .badge {
  color: #fff;
  background-color: #2EB872;
}
.btn-info-outline {
  color: #497cb1;
  background-color: transparent;
  border-color: #497cb1;
  border-width: 2px;
  font-weight: 500;
}
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #497cb1;
}
.btn-info-outline:hover {
  color: #fff;
  background-color: #497cb1;
}
.btn-info-outline:active,
.btn-info-outline.active,
.open > .dropdown-toggle.btn-info-outline {
  color: #497cb1;
}
.btn-info-outline:active:hover,
.btn-info-outline.active:hover,
.open > .dropdown-toggle.btn-info-outline:hover,
.btn-info-outline:active:focus,
.btn-info-outline.active:focus,
.open > .dropdown-toggle.btn-info-outline:focus,
.btn-info-outline:active.focus,
.btn-info-outline.active.focus,
.open > .dropdown-toggle.btn-info-outline.focus {
  color: #497cb1;
}
.btn-info-outline:active,
.btn-info-outline.active,
.open > .dropdown-toggle.btn-info-outline {
  background-image: none;
}
.btn-info-outline.disabled:hover,
.btn-info-outline[disabled]:hover,
fieldset[disabled] .btn-info-outline:hover,
.btn-info-outline.disabled:focus,
.btn-info-outline[disabled]:focus,
fieldset[disabled] .btn-info-outline:focus,
.btn-info-outline.disabled.focus,
.btn-info-outline[disabled].focus,
fieldset[disabled] .btn-info-outline.focus {
  border-color: #497cb1;
}
.btn-info-outline .badge {
  color: #fff;
  background-color: #497cb1;
}
.btn-warning-outline {
  color: #f89b20;
  background-color: transparent;
  border-color: #f89b20;
  border-width: 2px;
  font-weight: 500;
}
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #f89b20;
}
.btn-warning-outline:hover {
  color: #fff;
  background-color: #f89b20;
}
.btn-warning-outline:active,
.btn-warning-outline.active,
.open > .dropdown-toggle.btn-warning-outline {
  color: #f89b20;
}
.btn-warning-outline:active:hover,
.btn-warning-outline.active:hover,
.open > .dropdown-toggle.btn-warning-outline:hover,
.btn-warning-outline:active:focus,
.btn-warning-outline.active:focus,
.open > .dropdown-toggle.btn-warning-outline:focus,
.btn-warning-outline:active.focus,
.btn-warning-outline.active.focus,
.open > .dropdown-toggle.btn-warning-outline.focus {
  color: #f89b20;
}
.btn-warning-outline:active,
.btn-warning-outline.active,
.open > .dropdown-toggle.btn-warning-outline {
  background-image: none;
}
.btn-warning-outline.disabled:hover,
.btn-warning-outline[disabled]:hover,
fieldset[disabled] .btn-warning-outline:hover,
.btn-warning-outline.disabled:focus,
.btn-warning-outline[disabled]:focus,
fieldset[disabled] .btn-warning-outline:focus,
.btn-warning-outline.disabled.focus,
.btn-warning-outline[disabled].focus,
fieldset[disabled] .btn-warning-outline.focus {
  border-color: #f89b20;
}
.btn-warning-outline .badge {
  color: #fff;
  background-color: #f89b20;
}
.btn-danger-outline {
  color: #E03E36;
  background-color: transparent;
  border-color: #E03E36;
  border-width: 2px;
  font-weight: 500;
}
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #E03E36;
}
.btn-danger-outline:hover {
  color: #fff;
  background-color: #E03E36;
}
.btn-danger-outline:active,
.btn-danger-outline.active,
.open > .dropdown-toggle.btn-danger-outline {
  color: #E03E36;
}
.btn-danger-outline:active:hover,
.btn-danger-outline.active:hover,
.open > .dropdown-toggle.btn-danger-outline:hover,
.btn-danger-outline:active:focus,
.btn-danger-outline.active:focus,
.open > .dropdown-toggle.btn-danger-outline:focus,
.btn-danger-outline:active.focus,
.btn-danger-outline.active.focus,
.open > .dropdown-toggle.btn-danger-outline.focus {
  color: #E03E36;
}
.btn-danger-outline:active,
.btn-danger-outline.active,
.open > .dropdown-toggle.btn-danger-outline {
  background-image: none;
}
.btn-danger-outline.disabled:hover,
.btn-danger-outline[disabled]:hover,
fieldset[disabled] .btn-danger-outline:hover,
.btn-danger-outline.disabled:focus,
.btn-danger-outline[disabled]:focus,
fieldset[disabled] .btn-danger-outline:focus,
.btn-danger-outline.disabled.focus,
.btn-danger-outline[disabled].focus,
fieldset[disabled] .btn-danger-outline.focus {
  border-color: #E03E36;
}
.btn-danger-outline .badge {
  color: #fff;
  background-color: #E03E36;
}
.breadcrumb-primary {
  background-color: #ed745e;
}
.breadcrumb-primary a {
  color: #fff;
}
.breadcrumb-primary > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-primary > li + li:before {
  color: #fff;
}
.breadcrumb-success {
  background-color: #2EB872;
}
.breadcrumb-success a {
  color: #fff;
}
.breadcrumb-success > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-success > li + li:before {
  color: #fff;
}
.breadcrumb-info {
  background-color: #497cb1;
}
.breadcrumb-info a {
  color: #fff;
}
.breadcrumb-info > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-info > li + li:before {
  color: #fff;
}
.breadcrumb-warning {
  background-color: #f89b20;
}
.breadcrumb-warning a {
  color: #fff;
}
.breadcrumb-warning > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-warning > li + li:before {
  color: #fff;
}
.breadcrumb-danger {
  background-color: #E03E36;
}
.breadcrumb-danger a {
  color: #fff;
}
.breadcrumb-danger > .active {
  color: #fafafa;
  font-weight: 600;
}
.breadcrumb-danger > li + li:before {
  color: #fff;
}
.pagination-primary > li > a,
.pagination-primary > li > span {
  color: #fff;
  background-color: #ed745e;
  border: 1px solid #ea6047;
}
.pagination-primary > li > a:hover,
.pagination-primary > li > span:hover,
.pagination-primary > li > a:focus,
.pagination-primary > li > span:focus {
  color: #fff;
  background-color: #ea6047;
  border-color: #ea6047;
}
.pagination-primary > .active > a,
.pagination-primary > .active > span,
.pagination-primary > .active > a:hover,
.pagination-primary > .active > span:hover,
.pagination-primary > .active > a:focus,
.pagination-primary > .active > span:focus {
  color: #fff;
  background-color: #ea6047;
  border-color: #ea6047;
  cursor: default;
}
.pagination-primary > .disabled > span,
.pagination-primary > .disabled > span:hover,
.pagination-primary > .disabled > span:focus,
.pagination-primary > .disabled > a,
.pagination-primary > .disabled > a:hover,
.pagination-primary > .disabled > a:focus {
  color: #fff;
  background-color: #e47a67;
  border-color: #ea6047;
}
.pagination-success > li > a,
.pagination-success > li > span {
  color: #fff;
  background-color: #2EB872;
  border: 1px solid #29a465;
}
.pagination-success > li > a:hover,
.pagination-success > li > span:hover,
.pagination-success > li > a:focus,
.pagination-success > li > span:focus {
  color: #fff;
  background-color: #29a465;
  border-color: #29a465;
}
.pagination-success > .active > a,
.pagination-success > .active > span,
.pagination-success > .active > a:hover,
.pagination-success > .active > span:hover,
.pagination-success > .active > a:focus,
.pagination-success > .active > span:focus {
  color: #fff;
  background-color: #29a465;
  border-color: #29a465;
  cursor: default;
}
.pagination-success > .disabled > span,
.pagination-success > .disabled > span:hover,
.pagination-success > .disabled > span:focus,
.pagination-success > .disabled > a,
.pagination-success > .disabled > a:hover,
.pagination-success > .disabled > a:focus {
  color: #fff;
  background-color: #39ad72;
  border-color: #29a465;
}
.pagination-info > li > a,
.pagination-info > li > span {
  color: #fff;
  background-color: #497cb1;
  border: 1px solid #426f9f;
}
.pagination-info > li > a:hover,
.pagination-info > li > span:hover,
.pagination-info > li > a:focus,
.pagination-info > li > span:focus {
  color: #fff;
  background-color: #426f9f;
  border-color: #426f9f;
}
.pagination-info > .active > a,
.pagination-info > .active > span,
.pagination-info > .active > a:hover,
.pagination-info > .active > span:hover,
.pagination-info > .active > a:focus,
.pagination-info > .active > span:focus {
  color: #fff;
  background-color: #426f9f;
  border-color: #426f9f;
  cursor: default;
}
.pagination-info > .disabled > span,
.pagination-info > .disabled > span:hover,
.pagination-info > .disabled > span:focus,
.pagination-info > .disabled > a,
.pagination-info > .disabled > a:hover,
.pagination-info > .disabled > a:focus {
  color: #fff;
  background-color: #557ca5;
  border-color: #426f9f;
}
.pagination-warning > li > a,
.pagination-warning > li > span {
  color: #fff;
  background-color: #f89b20;
  border: 1px solid #f79008;
}
.pagination-warning > li > a:hover,
.pagination-warning > li > span:hover,
.pagination-warning > li > a:focus,
.pagination-warning > li > span:focus {
  color: #fff;
  background-color: #f79008;
  border-color: #f79008;
}
.pagination-warning > .active > a,
.pagination-warning > .active > span,
.pagination-warning > .active > a:hover,
.pagination-warning > .active > span:hover,
.pagination-warning > .active > a:focus,
.pagination-warning > .active > span:focus {
  color: #fff;
  background-color: #f79008;
  border-color: #f79008;
  cursor: default;
}
.pagination-warning > .disabled > span,
.pagination-warning > .disabled > span:hover,
.pagination-warning > .disabled > span:focus,
.pagination-warning > .disabled > a,
.pagination-warning > .disabled > a:hover,
.pagination-warning > .disabled > a:focus {
  color: #fff;
  background-color: #ed992c;
  border-color: #f79008;
}
.pagination-danger > li > a,
.pagination-danger > li > span {
  color: #fff;
  background-color: #E03E36;
  border: 1px solid #db2a22;
}
.pagination-danger > li > a:hover,
.pagination-danger > li > span:hover,
.pagination-danger > li > a:focus,
.pagination-danger > li > span:focus {
  color: #fff;
  background-color: #db2a22;
  border-color: #db2a22;
}
.pagination-danger > .active > a,
.pagination-danger > .active > span,
.pagination-danger > .active > a:hover,
.pagination-danger > .active > span:hover,
.pagination-danger > .active > a:focus,
.pagination-danger > .active > span:focus {
  color: #fff;
  background-color: #db2a22;
  border-color: #db2a22;
  cursor: default;
}
.pagination-danger > .disabled > span,
.pagination-danger > .disabled > span:hover,
.pagination-danger > .disabled > span:focus,
.pagination-danger > .disabled > a,
.pagination-danger > .disabled > a:hover,
.pagination-danger > .disabled > a:focus {
  color: #fff;
  background-color: #d44942;
  border-color: #db2a22;
}
.panel-default-top {
  border: 1px solid #eee;
  border-top: 4px solid #555;
}
.panel-default-top .panel-heading {
  border-bottom: 1px solid #eee;
}
.panel-primary-top {
  border: 1px solid #eee;
  border-top: 4px solid #ed745e;
}
.panel-primary-top .panel-heading {
  border-bottom: 1px solid #eee;
}
.panel-success-top {
  border: 1px solid #eee;
  border-top: 4px solid #2EB872;
}
.panel-success-top .panel-heading {
  border-bottom: 1px solid #eee;
}
.panel-info-top {
  border: 1px solid #eee;
  border-top: 4px solid #497cb1;
}
.panel-info-top .panel-heading {
  border-bottom: 1px solid #eee;
}
.panel-warning-top {
  border: 1px solid #eee;
  border-top: 4px solid #f89b20;
}
.panel-warning-top .panel-heading {
  border-bottom: 1px solid #eee;
}
.panel-danger-top {
  border: 1px solid #eee;
  border-top: 4px solid #E03E36;
}
.panel-danger-top .panel-heading {
  border-bottom: 1px solid #eee;
}
.alert-success-outline {
  background-color: #f7fdfa;
  border-color: #2EB872;
  color: #29a465;
}
.alert-success-outline hr {
  border-top-color: #29a465;
}
.alert-success-outline .alert-link {
  color: #1f7b4c;
}
.alert-info-outline {
  background-color: #f4f7fb;
  border-color: #497cb1;
  color: #426f9f;
}
.alert-info-outline hr {
  border-top-color: #426f9f;
}
.alert-info-outline .alert-link {
  color: #33567b;
}
.alert-warning-outline {
  background-color: #fffaf5;
  border-color: #f89b20;
  color: #f79008;
}
.alert-warning-outline hr {
  border-top-color: #f79008;
}
.alert-warning-outline .alert-link {
  color: #c57306;
}
.alert-danger-outline {
  background-color: #fdf4f4;
  border-color: #E03E36;
  color: #db2a22;
}
.alert-danger-outline hr {
  border-top-color: #db2a22;
}
.alert-danger-outline .alert-link {
  color: #af221b;
}
.list-group-item-success {
  background-color: #2EB872;
  border: 1px solid #2EB872;
}
.list-group-item-success .badge {
  background-color: #fff;
  color: #2EB872;
}
.list-group-item-info {
  background-color: #497cb1;
  border: 1px solid #497cb1;
}
.list-group-item-info .badge {
  background-color: #fff;
  color: #497cb1;
}
.list-group-item-warning {
  background-color: #f89b20;
  border: 1px solid #f89b20;
}
.list-group-item-warning .badge {
  background-color: #fff;
  color: #f89b20;
}
.list-group-item-danger {
  background-color: #E03E36;
  border: 1px solid #E03E36;
}
.list-group-item-danger .badge {
  background-color: #fff;
  color: #E03E36;
}
.ribbon-container {
  position: relative;
}
.ribbon-container > h3 {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #ddd;
}
.ribbon {
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon .text {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #555;
  position: absolute;
  top: 15px;
  right: -25px;
}
.ribbon .text::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
}
.ribbon .text::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
}
.ribbon-default .text {
  background: #555;
}
.ribbon-primary .text {
  background: #ed745e;
}
.ribbon-success .text {
  background: #2EB872;
}
.ribbon-info .text {
  background: #497cb1;
}
.ribbon-warning .text {
  background: #f89b20;
}
.ribbon-danger .text {
  background: #E03E36;
}
